@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');


@font-face {
  font-family: 'ScriptMTBold';
  src: url('../fonts/ScriptMTBoldd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/ScriptMTBold.woff') format('woff'), url('../fonts/ScriptMTBold.ttf')  format('truetype'), url('../fonts/ScriptMTBold.html#ScriptMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*************************
*******Typography******
**************************/

body {  background: #fff;  font-family: 'Open Sans', sans-serif;  color:#4e4e4e;  line-height: 22px;}

h1,h2,h3,h4,h5,h6 {  font-weight: 600;   font-family: 'Righteous', sans-serif;  color:#4e4e4e;}
h1{  font-size: 36px;  color:#fff;}
h2{  font-size: 20px;}
h3{  font-size: 16px;  color: #787878;  font-weight: 400;  line-height: 24px;}
h4{  font-size: 16px;}
p {font: 15px/28px 'Open Sans';color: #171717;}
a {  color: #c52d2f;  -webkit-transition: color 300ms, background-color 300ms;  -moz-transition: color 300ms, background-color 300ms;  -o-transition:  color 300ms, background-color 300ms;  transition:  color 300ms, background-color 300ms;}
a:hover, a:focus {  color: #d43133;}

.div-center{display: table;margin: 0 auto}

.mar-top-20{margin-top: 20px}
.mar-top-30{margin-top: 30px}
.mar-top-60{margin-top: 60px}
.pad-top-30{padding-top: 30px!important}
.pad-top-20{padding-top: 20px!important}
.pad-bot-20{padding-bottom: 20px!important}
.pad-bot-30{padding-bottom: 30px!important}
.pad-bot-40{padding-bottom: 40px!important}
.pad-bot-70{padding-bottom: 70px!important}

.btn-primary {  padding: 8px 20px;  background: #c52d2f;  color: #fff;  border-radius: 4px;  border:none;  margin-top: 10px;}

.btn-primary:hover, .btn-primary:focus{  background: #c52d2f;  outline: none;  box-shadow: none;} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}




.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/


/*************************
*******Home Page******
**************************/

/*.icon-cart {padding: 2px 0;}*/
.icon-cart + .tooltip{opacity: 1;}
.icon-cart + .tooltip > .tooltip-inner {background-color: #fead09;border-radius: 3px;}
.icon-cart + .tooltip > .tooltip-arrow { border-bottom:5px solid transparent;border-top:5px solid transparent;border-right:5px solid #fead09; }

.icon-cart > img {position: relative;top: -9px;margin-right: 5px;}

.icon-cart:after {content: 'Cart';position: absolute;}



#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 110px;
}

@media only screen and (max-width:980px){
   #main-slider .carousel .carousel-content {
  margin-top: 50px;
}
 
}


#main-slider .carousel .slide-margin{
  margin-top: 20px;
}

#main-slider .carousel h2,#main-slider .carousel h3,#main-slider .carousel h4 {
  color: #fff;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 590px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #c52d2f;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators{bottom: 65px}

#main-slider .carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0 5px 0 0;
  position: relative;
  border-radius: 0;background: transparent;border-color: #fead09
}

/*
#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: 1px solid #fead09;
  left: -3px;
  top: -3px;
}
*/

#main-slider .carousel-indicators .active{
  width: 12px;
  height: 12px;
  background-color: #fead09;
   margin: 0 5px 0 0;
   border: 1px solid #fead09;
   position: relative;
}

/*
#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  left: -3px;
  top: -3px;
}
*/

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}



.carousel-content {position: relative;z-index: 2}
.carousel-content h1{font-family: 'Righteous', cursive;}
.carousel-inner .overlay{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);display: block;position: absolute;top: 0;z-index: 1}
#main-slider .carousel .carousel-content h1 {font: 48px/54px 'Righteous';}
#main-slider .carousel .carousel-content h2 {font: 48px/55px 'Open Sans';}
#main-slider .carousel .carousel-content h3 {font: 18px/25px 'Open Sans';}
#main-slider .carousel .carousel-content h4 {font: 18px/25px 'Open Sans';}

@media only screen and (max-width:480px){
    #main-slider .carousel .carousel-content h1 {font: 38px/48px 'Righteous';}
    #main-slider .carousel .carousel-content h2 {font: 38px/48px 'Open Sans';}
}


.slider-bottom{background: url(../images/slide-bottom.png) center bottom no-repeat;display: block;height: 60px;width: 100%;position: absolute;bottom: 0;z-index: 1;background-size: cover}
.slider-bottom i{font-size: 50px;color: white;}



header {background: #77000e}
header .navbar{margin: 0}
header .navbar-nav{margin-top:38px}

@media only screen and (max-width:1199px){
   header .navbar-nav{margin-top:15px} 
}

header .navbar-default{background: transparent;border: none}
header .navbar-default .navbar-nav > li > a {
    color: white; font:bold 13px/17px 'Oswald';letter-spacing: 2px;padding: 9px;text-transform: uppercase
}

header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {   color: #fead09;   background-color: transparent;}
header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {color: #fead09;   background-color: transparent;}
header .navbar-brand {margin-right: 20px;padding: 12px 15px;}
.btn-tween{margin-top: 40px!important;margin-left: 20px}

@media only screen and (max-width:1199px){
    .btn-tween{margin-top: 5px!important;margin-left: 10px}
}
@media only screen and (max-width:767px){
    .btn-tween{margin-left: 0;margin-right: 10px}  
}

.btn-tween li a{padding: 6px!important}
.btn-tween .btn-signin{border:1px solid #fead09;background: #77000e }
.btn-tween .btn-ordernw{border:1px solid #fead09;background: #fead09 }
header .navbar-nav .fa-shopping-cart{font-size: 25px;color:#fead09; }

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
    background-color: #fead09;
}
header .navbar-default .navbar-toggle{border: none}
header .navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
@media only screen and (max-width:1199px){
    .nav.navbar-nav.navbar-right{margin-top: 0}
}



.sec-bg1{background: url(../images/sec-bg-1.jpg) center no-repeat;background-size: cover;padding: 105px 0 45px;min-height: 540px}
.header2{font: 48px/60px 'Righteous';color: white}
.header2-red{font: 48px/60px 'Righteous';color: #77000e}
.header4{font: 30px/42px 'Righteous';color: #f7a50a}
.info-box{padding: 15px 0}
.info-dark{font: 16px/28px 'Open Sans';color: #171717}
.info-white{font: 16px/28px 'Open Sans';color: white}
.sec-bg2{background: url(../images/sec-bg-2.jpg) center no-repeat;background-size: cover;padding: 105px 0 45px;min-height: 690px}

.btn-lrnmore{background: #fead09;padding: 10px 70px;font:14px/20px 'Oswald';color: white;text-transform: uppercase;text-align: center;letter-spacing: 1px;}

.sec-bg3{background: url(../images/sec-bg-3.jpg) left no-repeat;background-size: cover;padding: 105px 0 45px;min-height: 690px;position: relative}

.sec-bg3 .overlay{width: 46%;height: 100%;position: absolute;top: 0;z-index: 1;background: black;right: 0}
@media only screen and (max-width:767px){
    .sec-bg3 .overlay{display: none} 
}
.sec-bg3 .row{z-index: 99;position: relative}

.sec-bg4{background: url(../images/sec-bg-4.jpg) center no-repeat;background-size: cover;padding: 105px 0 45px;min-height: 690px}

.sec-bg-pattern{background: url(../images/bg-pattern.jpg) repeat;padding: 20px 0}

.how-works-box{padding: 20px 0;}
.how-works-box .symbol{display: inline-block;min-height: 230px;width: 100%}
.how-works-box .symbol > img{display: table;margin: 0 auto}
.how-works-box .title{font: 27px/40px 'Righteous';text-align: center;color: #77000e}
.how-works-box .info{padding: 5px 0}
.how-works-box .info p{font: 15px/28px 'Open Sans';color: #171717;text-align: center}

.sec-app{background: #77000e;padding: 20px 0 30px}
.sec-app .title{font: 16px/28px 'Open Sans';color: white;text-align: center;margin-bottom: 15px;}
.form-app .form-control{height: 46px;border-radius: 0;text-align: center}
.form-app .btn{background: #fead09 url(../images/icon-mobile-text.png) 15px no-repeat;border-radius: 0;height: 46px;color: white;font:bold 15px/28px 'Open Sans';padding: 5px 18px 5px 42px;border: none}

.row.menu{margin-top: 20px}
.menu-pic {position: relative;display: table}
.menu-pic > img{border: 2px solid #fead09}
.menu-pic .date{position: absolute;bottom: 0;right: 0;background: #fead09;width: 65px;height: 70px;text-align: center;font:bold 17px/25px 'Open Sans';color: #821723;padding-top: 10px}
.menu-pic .date strong{display: block;font-size: 30px}
.row.menu .menu-title {font: 30px/40px 'Righteous';color: #171717;}
.row.menu .info {}
.row.menu .info p {font: 16px/28px 'Open Sans';color: #171717;}
.btn-getstarted{font:600 14px/28px 'Open Sans';color: #821723;text-transform: uppercase}
.btn-getstarted i{font-size: 27px;position: relative;top: 3px}
.btn-getstarted i:nth-child(2){opacity: 0.8}
.btn-getstarted i:nth-child(3){opacity: 0.5}
.btn-getstarted:hover,.btn-getstarted:focus{color:#fead09 }


.sec-footer-box{background: url(../images/bg-footer.jpg) repeat;padding: 20px 0;background-size: cover}
.sec-footer-box .title{font:bold 14px/28px 'Oswald';color: white;letter-spacing: 1px;text-transform: uppercase}
.ul-footer-menu{padding: 0;margin: 0}
.ul-footer-menu li{list-style-type: none}
.ul-footer-menu li a{font:bold 12px/28px 'Oswald';color: white;letter-spacing: 1px}
.ul-footer-menu li a:hover,.ul-footer-menu li a:focus{color:#fead09}

.footer-form label{font:bold 14px/28px 'Oswald';color: white;letter-spacing: 1px;text-transform: uppercase}
.footer-form .form-control{background: transparent;border-radius: 0;color: white}
.ul-social{padding: 0;margin: 0}
.ul-social li{list-style-type: none;display: inline-block;margin: 0 20px 0 0}
.ul-social li a{font-size: 25px;color: #cf7711}

.sec-footer-box .addrss{font:bold 12px/17px 'Open Sans';color: white;padding: 20px 0 0;margin: 0}
.sec-footer-box .email{font:bold italic 12px/17px 'Open Sans';color: white;padding: 10px 0 0}
.sec-footer-box .email i{margin-right: 5px}

.sec-footer-box .ph{font:bold 12px/17px 'Open Sans';color: white;padding: 10px 0 0}
.sec-footer-box .ph i{margin-right: 5px}

footer{background: white;padding: 5px 0}
footer p{text-align: center;font: 13px/17px 'Open Sans';margin: 0}


/* Menu Page */
.sec-menu-page{background: white;padding: 30px 0}
.sec-menu-page .menu-box{}
.sec-menu-page .menu-box .title{font:bold 20px/28px 'Oswald';color: #77000e;text-transform: uppercase;text-align: center;letter-spacing: 2px;min-height: 60px}
.sec-menu-page .menu-symbol{padding: 2px 0 10px;transition: all .2s ease-in-out;display: table;margin: 0 auto;}
.sec-menu-page .menu-symbol > img{border-radius: 50%;box-shadow:inset 0 0 5px gray;}
.sec-menu-page .menu-symbol:hover {
 -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);}
.sec-menu-page .menu-symbol:hover > img{border-radius: 50%;box-shadow:inset 0 0 5px red }


.sec-menu-page .menu-box .info {padding: 20px 0}
.sec-menu-page .menu-box .info p{font: 13px/18px 'Open Sans';color: #171717;text-align: center}


.sec-menu-page .chef-symbol{padding: 2px 0 10px;transition: all .2s ease-in-out;display: table;margin: 0 auto;}
.sec-menu-page .chef-symbol > img{border-radius: 50%;box-shadow:inset 0 0 5px gray;padding: 25px}
.sec-menu-page .chef-symbol:hover {
 -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);}
.sec-menu-page .chef-symbol:hover > img{border-radius: 50%;box-shadow:inset 0 0 5px red }

.sec-menu-page .menu-link{display: table;margin: 0 auto}


/* Inner Slider */
#main-slider-inner {
  position: relative;
}

#main-slider-inner:after {content: '';background: url(../images/banner-shadow.png) center bottom no-repeat;height: 15px;width: 100%;display: block;position: absolute;bottom: -10px;}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider-inner .carousel .carousel-content {
  margin-top: 78px;
}

#main-slider-inner .carousel .slide-margin{
  margin-top: 20px;
}

#main-slider-inner .carousel h2 {
  color: #fff;
}

#main-slider-inner .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider-inner .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider-inner .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 430px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider-inner .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider-inner .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider-inner .prev,
#main-slider-inner .next {
  position: absolute;
  top: 50%;
  background-color: #c52d2f;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider-inner .prev:hover,
#main-slider-inner .next:hover {
  background-color: #000;
}

#main-slider-inner .prev {
  left: 10px;
}

#main-slider-inner .next {
  right: 10px;
}

#main-slider-inner .carousel-indicators{bottom: 65px}

#main-slider-inner .carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0 5px 0 0;
  position: relative;
  border-radius: 0;background: transparent;border-color: #fead09
}

/*
#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: 1px solid #fead09;
  left: -3px;
  top: -3px;
}
*/

#main-slider-inner .carousel-indicators .active{
  width: 12px;
  height: 12px;
  background-color: #fead09;
   margin: 0 5px 0 0;
   border: 1px solid #fead09;
   position: relative;
}

/*
#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  left: -3px;
  top: -3px;
}
*/

#main-slider-inner .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider-inner .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider-inner .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider-inner.active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}



#main-slider-inner .carousel-content {position: relative;z-index: 2}
#main-slider-inner .carousel-inner .overlay{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);display: block;position: absolute;top: 0;z-index: 1}
#main-slider-inner .carousel .carousel-content h1 {font:bold 48px/54px 'Oswald';text-align: center;letter-spacing: 2px}
#main-slider-inner .carousel .carousel-content h2 {font: 40px/50px 'Oswald';text-align: center;margin-top: 0}
#main-slider-inner .carousel .carousel-content h3 {font: 25px/30px 'Oswald';text-align: center;margin-top: 0;color: white}

#main-slider-inner .carousel .carousel-content .underln:after{content: ''; width:20%;height: 1px;background: #e6e6e6;display: block;display: table;margin: 10px auto;}


#main-slider-inner .chef-box{background: rgba(255, 255, 255,0.5 );border: 1px solid #e3cacc;padding:25px 15px;margin-top: 15px;}
#main-slider-inner .chef-box .chef-pic{display: table;margin: 0 auto}
#main-slider-inner .chef-box .chef-pic > img{border-radius: 50%}
#main-slider-inner .chef-box .chef-title{font: 28px/30px 'ScriptMTBold';text-align: center;color: #77000e;margin-bottom: 0;margin-top: 14px;}
#main-slider-inner .chef-box .chef-category{font:italic 18px/27px 'Open Sans';text-align: center;color: #171717;margin: 0}
#main-slider-inner .chef-box .reviews-row {margin-top: 15px}
#main-slider-inner .chef-box .reviews-row .title-sm{font:italic 14px/20px 'Open Sans';text-align: center;color: #171717;margin-bottom: 4px;}
#main-slider-inner .chef-box .reviews-row .value{font:bold italic 17px/20px 'Open Sans';text-align: center;color: #171717;}

#main-slider-inner .chef-box .ul-star-rating{padding: 0;margin: 0;text-align: center}
#main-slider-inner .chef-box .ul-star-rating li{display: inline-block;color: #77000e;}


.header-line-lg{font: 36px/40px 'Righteous';text-align: center;color: #77000e;position: relative}
.header-line-lg:before{content: '';width: 30%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%}
.header-line-lg:after{content: '';width: 30%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%;right: 0}

.header-line-md{font:bold 20px/30px 'Oswald';text-align: center;color: #77000e;letter-spacing: 2px;position: relative}
.header-line-md:before{content: '';width: 36%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%}
.header-line-md:after{content: '';width: 36%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%;right: 0}

.header-line{font:bold 20px/30px 'Oswald';text-align: center;color: #77000e;letter-spacing: 2px;position: relative}
.header-line:before{content: '';width: 38%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%}
.header-line:after{content: '';width: 38%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%;right: 0}

.header-line-sm{font: 18px/30px 'Righteous';text-align: center;color: #77000e;position: relative}
.header-line-sm:before{content: '';width: 30%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%}
.header-line-sm:after{content: '';width: 30%;height: 1px;background:#77000e;display: block;position: absolute;top: 50%;right: 0}

@media only screen and (max-width:1199px){
    .header-line{border-bottom: 1px solid #77000e}
    .header-line:before,.header-line:after{content: '';height: 0}
    
    .header-line-sm{border-bottom: 1px solid #77000e}
    .header-line-sm:before,.header-line-sm:after{content: '';height: 0}
}

.menu-home-cooking{background: white;border-radius: 3px;margin-bottom: 30px;}
.menu-home-cooking > img {border-radius: 3px 3px 0 0}
@media only screen and (max-width:991px){
    .menu-home-cooking > img {width: 100%}
}
.menu-home-cooking .dtls{padding: 10px 15px;position: relative;border: 1px solid #c9c9c9;border-bottom: 2px solid #fead09;border-top: 0}
.menu-home-cooking .dtls:before{content: ''; width: 0; height: 0; border-left: 22px solid transparent; border-right: 22px solid transparent; border-bottom: 22px solid white;position: absolute;top: -20px}
.menu-home-cooking .dtls .menu-title{font: 18px/30px 'ScriptMTBold';color: #77000e;margin-top: 0;margin-bottom: 0}
.menu-home-cooking .dtls .price{font:italic 16px/30px 'Open Sans';color: #77000e;text-align: right;margin-bottom: 2px}
.menu-home-cooking .dtls .btn-add{font: 14px/20px 'Open Sans';color: white;text-align: center;background: #fead09;padding: 3px 12px;float: right}
.menu-home-cooking .dtls .btn-add:hover,.menu-home-cooking .dtls .btn-add:focus{color:#171717 }
.menu-home-cooking .dtls .ul-category{padding: 0;margin: 0}
.menu-home-cooking .dtls .ul-category li{display: inline-block;font: 11px/20px 'Open Sans';color: #171717;background: #d8d8d8;padding: 0 6px}
.menu-home-cooking .dtls .calorie{font:italic 13px/20px 'Open Sans';color: #171717;padding-top: 5px;padding-bottom: 5px}
.menu-home-cooking .dtls .chef-row{display: table}
.menu-home-cooking .dtls .chef-row .chef-pic{display: table-cell}
.menu-home-cooking .dtls .chef-row .chef-pic > img{border-radius: 50%}
.menu-home-cooking .dtls .chef-row .chef-info{display: table-cell;padding-left: 12px;vertical-align: top}
.menu-home-cooking .dtls .chef-row .chef-info .chef-title{font:bold 16px/20px 'ScriptMTBold';color: #77000e;margin-bottom: 0}
.menu-home-cooking .dtls .chef-row .chef-info .desg{font:italic 14px/20px 'Open Sans';color: #171717;}

.menu-home-cooking .dtls .btn-row {margin:0 }
.menu-home-cooking .dtls .btn-row [class*=col-sm-]{padding:0 2px }
.menu-home-cooking .dtls .btn-row .btn-gray {border: 1px solid #c4c4c4;color: #9f9f9f;text-align: center;display: block;padding: 4px 5px;font:italic 14px/20px 'Open Sans';margin-bottom: 2px;}
.menu-home-cooking .dtls .btn-row .btn-gray:hover,.menu-home-cooking .dtls .btn-row .btn-gray:focus{background: #77000e;color: white;border-color: #77000e}


.restro-box{display: table;background: white;border-right: 2px solid #fead09;border-radius: 3px;box-shadow: 0 0 5px 0px #c6c6c6;margin-bottom: 30px;}
@media only screen and (max-width:480px){
    .restro-box{width: 100%} 
}
.restro-box .restro-pic{display: table-cell;border-radius: 3px 0 0 3px}
.restro-box .restro-pic > img {border-radius: 3px 0 0 3px}
.restro-box .restro-dtls{display: table-cell;vertical-align: top;padding: 10px;width: 100%;position: relative;}
@media only screen and (max-width:480px){
    .restro-box .restro-pic > img{width: 100%}
    .restro-box .restro-pic,.restro-box .restro-dtls{display: table;width: 100%}  
}
.restro-box .restro-dtls [class*=row]{margin:0}
.restro-box .restro-dtls [class*=col-xs],.restro-box .restro-dtls [class*=col-sm]{padding:0 5px}
.restro-box .restro-dtls .fa-heart-o{color: #9f9f9f;float: right}
.restro-box .restro-dtls .fa-heart-o:hover,.restro-box .restro-dtls .fa-heart-o:focus{color: #fead09; }
.restro-box .restro-dtls .restro-title{font: 18px/20px 'ScriptMTBold';color: #77000e;margin-top: 0;margin-bottom: 0}
.restro-box .restro-dtls .restro-info {padding-top: 12px;border-bottom: 1px solid #d8d8d8;padding-bottom: 8px;}
.restro-box .restro-dtls .restro-info p{font: italic 13px/20px 'Open Sans';color: #171717;padding: 0;margin: 0}
.restro-box .restro-dtls .row.review {position: absolute;bottom: 15px}
@media only screen and (max-width:480px){
    .restro-box .restro-dtls .row.review {position: relative;bottom: 0}
}
.restro-box .restro-dtls .restro-review {}
.restro-box .restro-dtls .restro-review p{font: italic 13px/20px 'Open Sans';color: #171717;padding: 0;margin: 0}

.restro-box .restro-dtls:before{content: ''; width: 0; height: 0; border-top: 22px solid transparent; border-bottom: 22px solid transparent; border-right: 22px solid white;position: absolute;bottom: 20px;left: -20px;}

@media only screen and (max-width:480px){
    .restro-box .restro-dtls:before{content: '';border: none}
}

.ul-review-star{padding: 0;margin: 0}
.ul-review-star li{list-style-type: none;display: inline-block;margin: 0 1px 0 0;color: #fead09;font-style: italic}
.ul-review-star li a{color: #fead09}

.sec-white-bg{padding: 30px 0}

/* Details Cover Pic [Begin] */
.details-coverpic{position: relative;border-radius: 4px}
.details-coverpic > img{border-radius: 4px}
.details-coverpic .info-block{background: rgba(0, 0, 0, 0.55);display: table;width: 100%;position: absolute;bottom: 0;border-radius:0 0 4px 4px;padding: 5px}
@media only screen and (max-width:480px){
    .details-coverpic .info-block{position: relative}
}
.details-coverpic .info-block .title{font: 32px/38px 'ScriptMTBold';color: white;margin: 0;padding: 0}
.details-coverpic .info-block .breadcrumb{background-color: transparent;padding: 0;margin-bottom: 4px;}
.details-coverpic .info-block .breadcrumb li a{background-color: transparent;font:bold 15px/20px 'Oswald';color: white;letter-spacing: 2px}
.details-coverpic .info-block .breadcrumb > .active{background-color: transparent;font:bold 15px/20px 'Oswald';color: white;letter-spacing: 2px}
.details-coverpic .info-block .breadcrumb > li + li::before { padding: 0 5px;  color: #ccc;  content: "\f054";font: normal normal normal 14px/1 FontAwesome;}

.details-coverpic .info-block .rating{font:bold 18px/20px 'Oswald';color: white;border: 1px solid #6eb30b;border-radius: 3px;padding:5px 10px;display: inline-block;text-align: right;margin: 18px 0 4px;}
.details-coverpic .info-block .votes{font: 14px/18px 'Open Sans';color: white;display: block;text-align: right}
.r-info{float: right}
/* Details Cover Pic [End] */

.white-bg-content{background: white;border: 1px solid #cecece;border-radius: 4px;display: table;width: 100%;margin-top: 10px}
.white-bg-content .sec-heading{border-bottom: 1px solid #cecece;display: table;width: 100%;padding-bottom: 10px;margin-bottom: 25px;}
.white-bg-content .sec-heading .btstseller-chef{float: right}
.white-bg-content .sec-heading .title{font: 45px/50px 'Oswald';letter-spacing: 2px;text-align: center;color: #171717;margin: 10% 0 0;}
.white-bg-content .sec-heading .subtitle{font: 20px/27px 'Oswald';letter-spacing: 1px;text-align: center;color: #171717;margin: 0;}

.details-content{padding: 0 20px}


.menu-details{background: white;border-radius: 3px;margin-bottom: 30px;position: relative}
.menu-details > img {border-radius: 3px 3px 0 0}
@media only screen and (max-width:991px){
    .menu-details > img {width: 100%}
}
.menu-details .fav{position: absolute;top: 5px;left: 10px;color: white}
.menu-details .dtls{padding: 10px 2px;position: relative;border: 1px solid #c9c9c9;border-top: 0}
.menu-details .dtls .row{margin: 0}
.menu-details .dtls [class*=col-xs],.menu-details .dtls [class*=col-sm]{padding:0 5px}
.menu-details .dtls .menu-title{font: 16px/18px 'ScriptMTBold';color: #77000e;margin-top: 0;margin-bottom: 0;overflow: hidden;height: 18px;}
.menu-details .dtls .price{font:italic 15px/18px 'Open Sans';color: #77000e;text-align: right;margin-bottom: 2px}
.menu-details .dtls .ul-category{padding: 0;margin: 0}
.menu-details .dtls .ul-category li{display: inline-block;font: 11px/20px 'Open Sans';color: #171717;background: #d8d8d8;padding: 0 6px}
.menu-details .dtls .calorie{font:italic 13px/20px 'Open Sans';color: #171717;padding-top: 0;padding-bottom: 5px}

.flat-img-box{position: relative;padding-bottom: 15px;}
.flat-img-box .review{font:bold 16px/20px 'Open Sans';color: white;text-align: center;background: #2ab300;padding: 3px 12px;border-radius: 3px;position: absolute;right: 15px;top: 148px;}
.flat-img-box > img{border-radius: 4px;min-height: 180px;}
@media only screen and (max-width:991px){
    .flat-img-box > img{width: 100%}
}
.flat-img-box .title{font:600 13px/18px 'Open Sans';color: #171717;margin-bottom: 0}
.flat-img-box .info{font: 13px/18px 'Open Sans';color: #171717;}


.write-review-title{font: 15px/20px 'Oswald';letter-spacing: 1px;color: #171717;margin: 0 0 14px;}

.form-review .form-control{background:url(../images/bg-pattern.jpg) center repeat;height: 42px;border-left: none}
.form-review .btn{font:13px/20px 'Open Sans';color: white;text-align: center;background: #77000e;border-color: #77000e;height: 42px;}
.form-review .input-group-addon{background:url(../images/bg-pattern.jpg) center repeat;height: 42px;padding-right: 2px}


.form-filter{}
.form-filter label{font:13px/20px 'Open Sans';color: #171717;text-transform: uppercase;margin-right: 5px}
.form-filter .bootstrap-select.form-control:not([class*="col-"]) { width: auto;}
.form-filter .form-group { display: inline-block}

.menu-houseparty{background: white;border-radius: 3px;margin-bottom: 30px;}
.menu-houseparty > img {border-radius: 3px 3px 0 0}
@media only screen and (max-width:991px){
    .menu-houseparty > img {width: 100%}
}
.menu-houseparty .dtls{padding: 15px 15px;position: relative;border-top: 0;display: block;}
.menu-houseparty .dtls .menu-title{font: 16px/20px 'Oswald';color: #171717;margin-top: 0;margin-bottom: 0;letter-spacing: 1px;text-align: center;overflow: hidden;height: 22px;}

.menu-houseparty .dtls:hover,.menu-houseparty .dtls:focus{color: #77000e;background: #f7a40a}
.menu-houseparty .dtls:hover .menu-title,.menu-houseparty .dtls:focus .menu-title{color: #77000e;}

.sec-bg-pattern.page-title{min-height: 82px;border-bottom: 1px solid #c3c2bc;padding-top: 28px;}
.pagetitle{font:bold 22px/28px 'Oswald';color: #77000e;letter-spacing: 2px;margin: 0}

.breadcrumb.page{background: transparent;text-align: right;margin: 0;padding: 0}
.breadcrumb.page li a{font:13px/20px 'Open Sans';color: #171717;}
.breadcrumb.page > .active{background-color: transparent;font:13px/20px 'Open Sans';color: #4a4a4a;}
.breadcrumb.page > li + li::before { padding: 0 8px;  color: #171717;  content: "\f105";font: normal normal normal 14px/1 FontAwesome;}

.houseparty_dtls-pic > img{border: 1px solid #cecece;border-radius: 4px}
.houseparty_dtls-info {padding-top: 15px}
.houseparty_dtls-info p{font:13px/23px 'Open Sans';color: #171717;}
.radio-select{}
.radio-select label{font:bold 13px/23px 'Open Sans';color: #6B6B6B;;}

.ul-btn-inline{padding:10px 0 0;margin: 0}
.ul-btn-inline li{list-style-type: none;display: inline-block}
.ul-btn-inline li a{background: #fead09;padding: 10px 30px;font:16px/20px 'Oswald';color: white;text-transform: uppercase;text-align: center;letter-spacing: 1px;display: table;}
.ul-btn-inline li a:hover,.ul-btn-inline li a:focus{color: #171717}


.ul-social-share{padding:10px 0 0;margin: 0}
.ul-social-share li{list-style-type: none;display: inline-block;margin-right: 5px}
.ul-social-share li a{color: #cecece;width: 34px;height: 34px;border: 1px solid #cecece;border-radius: 50%;display: block;text-align: center;line-height: 33px;font-size: 16px;}
.ul-social-share li a:hover,.ul-social-share li a:focus{background: #77000e;color: white;border-color:#77000e }

.separator{background: #d4d4d4;width: 100%;height: 1px; display: block}

.houseparty_details-menubox{padding-bottom: 30px}
.title-small{font:bold 14px/20px 'Oswald';color: #171717;margin-bottom: 4px;letter-spacing: 1px;margin-top: 0;text-transform: capitalize}
.houseparty_details-info {padding-top: 15px}
.houseparty_details-menu-pic > img{border-radius: 4px}
.houseparty_details-info p{font:13px/23px 'Open Sans';color: #171717;}

.form-filter-red{}
.form-filter-red button{border: none;color: #77000e}
.form-filter-red label{font:13px/20px 'Open Sans';color: #171717;text-transform: uppercase;margin-right: 5px}
.form-filter-red .bootstrap-select.form-control:not([class*="col-"]) { width: auto;}
.form-filter-red .form-group { display: inline-block}


.sec-houseparty-rqstmenu{background: url(../images/bg-rqst-menu.jpg) center no-repeat;background-size: cover;padding-top: 30px;padding-bottom: 30px}
.sec-cook-for-you{background: url(../images/bg-cook-for-you.jpg) center no-repeat;background-size: cover;padding-top: 30px;padding-bottom: 30px}
.bg-form-dark{background: rgba(0, 0, 0, 0.45);border-radius: 10px;padding:18px 0}
.bg-form-dark .title{font:bold 20px/30px 'Oswald';color: white;margin-top: 0}
.bg-form-dark .form-group{margin-bottom: 8px}
.bg-form-dark .form-control{background: rgba(137, 137, 137, 0.6);color: white}
.bg-form-dark label{font:13px/20px 'Open Sans';color: white;}
.bg-form-dark .input-group-addon{background: rgba(77, 77, 77, 0.8);color: #aeaeae}

.bg-form-dark ::-webkit-input-placeholder {
   color: white;
}

.bg-form-dark :-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.bg-form-dark ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.bg-form-dark :-ms-input-placeholder {  
   color: white;  
}

.title-recmmnd-chef{color: white;font:bold 14px/20px 'Oswald';color: white;text-align: center;letter-spacing: 1px;border-bottom: 1px solid white;display: table;margin: 25px auto 20px;display: table}

.ul-recmmnd-chef{padding: 0;margin: 0;}
.ul-recmmnd-chef li{list-style-type: none;display: inline-block;color: #171717;margin: 0 4px 6px;}
.ul-recmmnd-chef li .recmmnd-chef-pic{border-radius: 50%;border: 2px solid #68523d;margin-top: -34px;}
.ul-recmmnd-chef li .recmmnd-chef-pic:hover{border-color: #77000e}
.ul-recmmnd-chef li .name{font:bold 13px/17px 'Open Sans';color: #171717;margin-bottom: 4px}
.ul-recmmnd-chef li .reviews{font:italic 13px/17px 'Open Sans';color: #77000e;margin-bottom: 0}

.ul-recmmnd-chef li .btn-group label{cursor: pointer}
.ul-recmmnd-chef li .form-group .info{padding-left: 15px}
.ul-recmmnd-chef li .form-group input[type="checkbox"] {display: none;}
.ul-recmmnd-chef li .form-group input[type="checkbox"] + .btn-group > label span { width: 20px;}
.ul-recmmnd-chef li .form-group input[type="checkbox"] + .btn-group > label span:first-child {display: none;}
.ul-recmmnd-chef li .form-group input[type="checkbox"] + .btn-group > label span:last-child {display: inline-block;}
.ul-recmmnd-chef li .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {display: inline-block;background: rgba(0, 0, 0, 0.5);width: 90px;height: 90px;position: absolute;line-height: 90px;top: -12px;text-align: center;border-radius: 50%;color: white;border:1px solid #77000e;left: 9px;}
.ul-recmmnd-chef li .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {display: none;}

.ul-review-star-red{padding: 0;margin: 0}
.ul-review-star-red li{list-style-type: none;display: inline-block;margin: 0;color: #77000e;;font-style: italic}
.ul-review-star-red li a{color: #77000e;}

.chef-cont{height: 432px; overflow: auto; position: relative;padding-top: 35px}

/* Scroll Css start */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  @supports (-ms-overflow-style: none) {
    .ps-container {
      overflow: auto !important; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps-container {
      overflow: auto !important; } }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail,
  .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: transparent; }
  .ps-container.ps-in-scrolling {
    pointer-events: none; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #77000E; }
  .ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear;
      bottom: 0;
      /* there must be 'bottom' for ps-scrollbar-x */
      height: 8px; }
  .ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #000;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y */
      width: 8px; }
  .ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #77000E; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6; }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #77000E; }
/* Scroll Css end */